*{
    margin: 0;
    padding: 0;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/downloadpage.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.downbackground{
    background: rgba(0, 0, 0, 0.7) url('../img/downloadpage.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.logo img{
    width: 15%;
    padding: 2% 10%;
}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    font-family: -webkit-pictograph;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.box-main{
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 60%;
    margin: auto;
}

.firstHalf{
    width: 60%;
    padding: 14% 20%;
    padding-bottom: 4%;
    align-items: center;
    text-align: center;
    font-size: 260%;
    font-family: -webkit-pictograph;
}

.secondHalf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6%;
    font-family: -webkit-pictograph;
}

.text-big{
    font-size: 50px;
}

.text-small{
    font-size: 30px;
    text-align: center;
}

.btn{
    padding: 13px 30px;
    margin: 7px 44%;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-text{
    font-size: 10px;
}

.btn:hover{
    color:grey;
}